#boxar {
  display: grid;
  background-color: black;
  height: 100vh;
  gap: 0px;
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;
  grid-template-columns: 1vh 1fr 1fr 1vh;
  grid-template-rows: 100px 100px 1fr 2fr 70px;
  grid-template-areas:
    "he he he he"
    "na na na na"
    "as ma ma ma"
    "as ma ma ma"
    "fo fo fo fo";
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  grid-area: he;
  background-color: #4CAF50;
  justify-content: center;
 border-radius: 5px;
  

}

nav {
  grid-area: na;
  background-color: black;
  border: lime,solid,5px;
  border-radius: 20px;
}

main {
 
  grid-area: ma;
  background-image:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("../img/pexels-victorfreitas-841130.jpg");
  background-size: cover;
  background-position: center;
 
}



aside {
  grid-area: as;  
}

footer {
  grid-area: fo;
  background-color: #4CAF50;
 
}


img{

height: 100px;
}

b{
  display:flex;
  font-size: 50px;
  color: white;
   font-family: "Rubik Vinyl", system-ui;
   justify-content: center;
  
}









